body {
  margin: 0;
  overflow-x: hidden; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamBook.ttf"); }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/GothamBold.ttf"); }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.ttf"); }
.navigation {
  width: 100%; }
  .navigation .nav__container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .navigation .logo {
    display: inline-block;
    margin-top: 15px; }
  .navigation .topnav__container {
    width: 100%;
    max-width: 815px;
    font-family: 'Lato'; }
  .navigation .topnav {
    overflow: hidden;
    list-style-type: none; }
  .navigation .topnav a {
    float: left;
    display: block;
    color: #868686;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase; }
  .navigation .topnav .icon {
    display: none; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.banner {
  width: 100%;
  height: 470px;
  background: #709dca;
  text-align: center; }
  .banner .main__text {
    padding-top: 60px; }
  .banner h1 {
    font-family: 'Gotham-Bold';
    color: #fff;
    text-transform: uppercase;
    font-size: 27px; }
  .banner hr {
    visibility: hidden; }
  .banner p {
    font-family: 'Gotham';
    color: #fff;
    font-size: 12px;
    margin-top: -30px; }
  .banner .forma {
    width: 100%;
    height: 40px;
    margin-top: 27px; }
  .banner .forma form ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .banner .input__block, .banner .button__block {
    width: 220px;
    height: 40px;
    margin-top: 0;
    position: relative; }
  .banner input[type=text] {
    width: 220px;
    height: 40px;
    padding: 12px 40px;
    box-sizing: border-box;
    border-radius: 2px;
    border: none; }
  .banner input[type=submit] {
    -webkit-appearance: none;
    background-color: #ffbb42;
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    text-transform: uppercase;
    border: none;
    width: 220px;
    height: 40px; }
  .banner input[type=submit]:hover {
    cursor: pointer;
    opacity: .5; }
  .banner .input__block i {
    position: absolute;
    top: 12px;
    left: 15px;
    color: gray; }
  .banner img {
    margin: 50px auto;
    width: 100%;
    max-width: 525px;
    height: 275px; }
  .banner .controls {
    width: 100%;
    margin-top: -35px; }
    .banner .controls .control {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 3px solid gray;
      border-radius: 50%; }
    .banner .controls .control:hover {
      cursor: pointer; }
    .banner .controls .control:first-child {
      border: 3px solid #1ca8dd; }

.how__it__works {
  width: 100%;
  height: 500px;
  margin-top: 125px;
  text-align: center; }
  .how__it__works h2 {
    font-family: 'Gotham-Bold';
    color: #000;
    text-transform: uppercase;
    font-size: 22px; }
  .how__it__works hr {
    visibility: hidden; }
  .how__it__works p {
    font-family: 'Gotham';
    color: #000;
    font-size: 12px;
    margin-top: -15px; }
  .how__it__works .flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    position: relative; }
    .how__it__works .flex__container .item {
      width: 175px;
      height: 225px; }
      .how__it__works .flex__container .item img {
        width: 50px;
        height: 50px;
        margin-top: 25px;
        object-fit: contain; }
      .how__it__works .flex__container .item h4 {
        text-align: center;
        font-family: 'Gotham';
        color: #000;
        text-transform: uppercase;
        font-size: 17px;
        margin-top: 40px; }
      .how__it__works .flex__container .item p {
        font-family: 'Open-Sans';
        color: #000;
        font-size: 11px;
        margin-top: 15px; }
    .how__it__works .flex__container .arrow__down {
      position: absolute;
      width: 128px;
      height: 32px;
      background: url("../img/arrowDown.png") no-repeat center; }
    .how__it__works .flex__container .arrow__down.first {
      left: 175px; }
    .how__it__works .flex__container .arrow__down.second {
      right: 175px; }
    .how__it__works .flex__container .arrow__up {
      position: absolute;
      width: 129px;
      height: 33px;
      background: url("../img/arrowUp.png") no-repeat center;
      top: 50px; }
    .how__it__works .flex__container .item:hover {
      transform: scale(1.3);
      cursor: pointer; }
  .how__it__works .get__start__now__button {
    padding-bottom: 20px; }
    .how__it__works .get__start__now__button button {
      background-color: #ffbb42;
      border-radius: 2px;
      color: white;
      padding: 14px 20px;
      text-transform: uppercase;
      border: none;
      width: 130px;
      font-size: 10px;
      height: 35px;
      margin-top: 90px; }
    .how__it__works .get__start__now__button button:hover {
      cursor: pointer;
      opacity: .8; }

/*# sourceMappingURL=style.css.map */
